# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/
venv/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Output
*.json
!examples/*.json
*.log
